*.dat
*.pyc
*.lo
*.la
Makefile
src/ftw/.deps/
src/ftw/.libs/
src/ftw/ftw.cc
src/ftw/ftw.py
config.h
config.log
config.status
libtool
autom4te.cache/
configure
src/Makefile.in
src/examples/Makefile.in
src/ftw/Makefile.in
INSTALL
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
config/Makefile.in
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
depcomp
doc/Makefile.in
install-sh
ltmain.sh
missing
py-compile
stamp-h1
